extends baseEmail

block content
  p Hi #{firstName},
    p Your restaurant account has now been verified. You can now starts processing order through Vote Namibia a new way to place order in restaurants.

    p - Vote Namibia Team
